@model FSP.Domain.Model.InsuranceCarrier
@{
    ViewBag.Title = "Create";
    
}
<div>
    @Html.ActionLink("Back to Tow Locations", "Index")
</div>
<h2>Create</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.CarrierName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CarrierName)
            @Html.ValidationMessageFor(model => model.CarrierName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.InsurancePolicyNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.InsurancePolicyNumber)
            @Html.ValidationMessageFor(model => model.InsurancePolicyNumber)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ExpirationDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ExpirationDate)
            @Html.ValidationMessageFor(model => model.ExpirationDate)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PolicyName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PolicyName)
            @Html.ValidationMessageFor(model => model.PolicyName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PhoneNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PhoneNumber)
            @Html.ValidationMessageFor(model => model.PhoneNumber)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Fax)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Fax)
            @Html.ValidationMessageFor(model => model.Fax)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                Create</button>
        </div>
    </fieldset>
}
