@{
    ViewBag.Title = "LATA Trax | CHP Information";
}

<header class="jumbotron subhead" id="overview">
    <h2>CHP</h2>

    <legend>Drivers</legend>
    <a href='@Url.Content("~/AdminArea/DriverInteraction/Index")'>Driver Interactions</a><br />
    <a href='@Url.Content("~/AdminArea/CHPInspection/Index")'>CHP Inspections</a><br />

    @* <br />
        <legend>Drivers</legend>
        <a href='@Url.Content("~/AdminArea/Driver/Index")'>Drivers</a><br />
        <a href='@Url.Content("~/AdminArea/DriverInteraction/Index")'>Driver Interactions</a><br />
        <br />
        <br />
        <legend>CHP</legend>
        <a href='@Url.Content("~/AdminArea/CHPInspection/Index")'>CHP Inspections</a><br />
        <a href='@Url.Content("~/AdminArea/CHPOfficer/Index")'>CHP Officers</a><br />*@

</header>
