@model FSP.Domain.Model.Driver
@{
    ViewBag.Title = "LATATrax | Add a new driver";
    
}


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <div class="span12">

       


        <div class="row-fluid">
            <div class="span3">
                @Html.ActionLink("Back to Drivers", "Index")
            </div>
        </div>       
        <div class="row-fluid">
            <div class="span3">
                <h2>Add a new driver</h2>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                Add Driver</button>
        </div>
        <div class="row-fluid">
            <div class="span4">
                <h3>First Name</h3>
                <div class="editor-field">
                    @Html.EditorFor(model => model.FirstName)
                    @Html.ValidationMessageFor(model => model.FirstName)
                </div>
            </div>
            <div class="span4">
                <h3>Last Name</h3>
                <div class="editor-field">
                    @Html.EditorFor(model => model.LastName)
                    @Html.ValidationMessageFor(model => model.LastName)
                </div>
            </div>
            <div class="span4">
                <h3>DOB</h3>
                @Html.EditorFor(model => model.DOB)
                @Html.ValidationMessageFor(model => model.DOB)
            </div>            
        </div>
        <div class="row-fluid">
            <div class="span4">
                <h3>FSPID</h3>
                @Html.EditorFor(model => model.FSPIDNumber)
                @Html.ValidationMessageFor(model => model.FSPIDNumber)
            </div>
            <div class="span4">
                <h3>Password</h3>
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)              
            </div>
            <div class="span4">
                <h3>Program Start Date</h3>
                @Html.EditorFor(model => model.ProgramStartDate)
                @Html.ValidationMessageFor(model => model.ProgramStartDate)
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4">
                <h3>Assigned Beat</h3>
                @Html.DropDownListFor(x => x.BeatID, new SelectList(ViewBag.Beats, "BeatID", "BeatNumber"), "--Select Beat--")
                @Html.ValidationMessageFor(model => model.BeatID)
            </div>
            <div class="span4">
                <h3>Contractor</h3>
                @Html.DropDownListFor(x => x.ContractorID, new SelectList(ViewBag.Contractors, "ContractorID", "ContractCompanyName"), "--Select Contractor--")
                @Html.ValidationMessageFor(model => model.ContractorID)
            </div>
            <div class="span4">
                <h3>Contractor Start Date</h3>
                @Html.EditorFor(model => model.ContractorStartDate)
                @Html.ValidationMessageFor(model => model.ContractorStartDate)
            </div>
        </div>
        <hr />
        <div class="row-fluid">
            <div class="span4">
                <h3>Drivers License Number</h3>
                @Html.EditorFor(model => model.DriversLicenseNumber)
                @Html.ValidationMessageFor(model => model.DriversLicenseNumber)
            </div>           
            <div class="span4">
                <h3>License Expiration Date</h3>
                @Html.EditorFor(model => model.LicenseExpirationDate)
                @Html.ValidationMessageFor(model => model.LicenseExpirationDate)
            </div>           
        </div>
        <div class="row-fluid">
            <div class="span4">
                <h3>DL-64 Number</h3>
                @Html.EditorFor(model => model.DL64Number)
                @Html.ValidationMessageFor(model => model.DL64Number)
            </div>
            <div class="span4">
                <h3>DL-64 Expiration Date</h3>
                @Html.EditorFor(model => model.DL64ExpirationDate)
                @Html.ValidationMessageFor(model => model.DL64ExpirationDate)
            </div>
            <div class="span4">
               
            </div>
        </div>       
        <div class="row-fluid">
            <div class="span4">
                <h3>Training Completion Date</h3>
                @Html.EditorFor(model => model.TrainingCompletionDate)
                @Html.ValidationMessageFor(model => model.TrainingCompletionDate)
            </div>
            <div class="span4">
                <h3>Medical Card Expiration Date</h3>
                @Html.EditorFor(model => model.MedicalCardExpirationDate)
                @Html.ValidationMessageFor(model => model.MedicalCardExpirationDate)
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4"></div>
            <div class="span4">
                <h3>Last Pull Notice Date</h3>
                @Html.EditorFor(model => model.LastPullNoticeDate)
                @Html.ValidationMessageFor(model => model.LastPullNoticeDate)
            </div>
        </div>
        <hr />
        <div class="row-fluid">
            <div class="span4">
                 <h3>Added to C3 Database</h3>
                @Html.EditorFor(model => model.AddedtoC3Database)
                @Html.ValidationMessageFor(model => model.AddedtoC3Database)
            </div>
            <div class="span4">
                <h3>Contractor End Date</h3>
                @Html.EditorFor(model => model.ContractorEndDate)
                @Html.ValidationMessageFor(model => model.ContractorEndDate)
            </div>
            <div class="span4">
                <h3>Program End Date</h3>
                @Html.EditorFor(model => model.ProgramEndDate)
                @Html.ValidationMessageFor(model => model.ProgramEndDate)
            </div>
        </div>
        <hr />
        <div class="row-fluid">
            <div class="span6">
                <h3>UDF</h3>
                @Html.TextAreaFor(model => model.UDF, new { @class = "span6", rows = 5 })
                @Html.ValidationMessageFor(model => model.UDF)
            </div>
            <div class="span6">
                <h3>Comments</h3>
                @Html.TextAreaFor(model => model.Comments, new { @class = "span6", rows = 5 })
                @Html.ValidationMessageFor(model => model.Comments)
            </div>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                Add Driver</button>
        </div>
    </div>
    
    

    
}
