@model FSP.Web.ViewModels.ChangePasswordModel
@{
    ViewBag.Title = "LATA Trax | Change Password";
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>
        Use the form below to change your password.</h2>
</hgroup>
<p class="message-info">
    New passwords are required to be a minimum of @Membership.MinRequiredPasswordLength characters in length.
</p>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")

    <fieldset>
        <legend>Change Password Form</legend>
        <div class="editor-label">
           Old Password
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.OldPassword)
            @Html.ValidationMessageFor(m => m.OldPassword)
        </div>
        <div class="editor-label">
            New Password
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.NewPassword)
            @Html.ValidationMessageFor(m => m.NewPassword)
        </div>
        <div class="editor-label">
            Confirm Password
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.ConfirmPassword)
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                Change Password</button>
        </div>
    </fieldset>
}
