@model FSP.Domain.Model.InspectionType
@{
    ViewBag.Title = "Edit " + @Model.InspectionType1;
    
}
<div>
    @Html.ActionLink("Back to Freeways", "Index")
</div>
<h2>Edit "@Model.InspectionType1"</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>
        @Html.HiddenFor(model => model.InspectionTypeID)
        <div class="editor-label">
            @Html.LabelFor(model => model.InspectionType1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.InspectionType1)
            @Html.ValidationMessageFor(model => model.InspectionType1)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.InspectionTypeCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.InspectionTypeCode)
            @Html.ValidationMessageFor(model => model.InspectionTypeCode)
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                Update</button>
        </div>
    </fieldset>
}
