@model FSP.Domain.Model.YearlyCalendar
@{
    ViewBag.Title = "Edit " + @Model.dayName;
    
}
<div>
    @Html.ActionLink("Back to Yearly Calendar", "Index")
</div>
<h2>Edit "@Model.dayName"</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.DateID)
    <fieldset>
        <legend>Day Name</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.dayName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.dayName)
            @Html.ValidationMessageFor(model => model.dayName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                Update</button>
        </div>
    </fieldset>
}
