@{
    ViewBag.Title = "LATA Trax | Map";
}
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDVGMBMCxemD0_VM3UjKVKNxfC1lstlTW4&sensor=false" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/markerwithlabel.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.color.js")"></script>
<script src="@Url.Content("~/Scripts/jQueryRotateCompressed.2.1.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.layout.latest.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Tooltip.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/knockout-2.1.0.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.signalR-0.5.3.js")" type="text/javascript"></script>
<script src="@Url.Content("~/signalr/hubs")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/mapLabel.js")"></script>
<script src="@Url.Content("~/MyScripts/fsp.map.Label.js")"></script>
<script src="@Url.Content("~/MyScripts/TruckCollection.js")" type="text/javascript"></script>
<script src="@Url.Content("~/MyScripts/Map.js")" type="text/javascript"></script>
<style type="text/css">
    #map
    {
        height: 100%;
    }

        #map img
        {
            max-width: none;
        }

    div#infoWindow
    {
        height: 180px;
        width: 250px;
    }

    .gridRow
    {
        cursor: pointer;
    }
</style>

<div class="row" style="padding-bottom: 3px;">
    <div class="span6">
        <a id="btnFilter" class="btn btn-success" data-toggle="modal" data-bind="click: showFilter">Filter</a>    
        <input type="checkbox" id="toggleBeats" value="1" checked />&nbsp;Beats
            <input type="checkbox" id="toggleSegments" value="1" checked />&nbsp;Segments        
            <input type="checkbox" id="toggleCallBoxes" value="1" checked />&nbsp;Call Boxes                                  
    </div>
    <div class="span6" style="text-align: right">
        <a class="btn btn-info newTowTruckWindow" href='@Url.Content("~/Map/Grid")'>Tow Truck List</a>
        <a class="btn btn-success" href='@Url.Content("~/Admin/CreateIncident")'>New Incident</a>
        <button data-bind="click: unFollow, visible: followingTruck, text: unFollowText" class="btn btn-danger" type="button">
        </button>
    </div>
</div>

@*map*@
<div id="map" style="width: 100%; height: 500px"></div>
<div data-bind="foreach: towTrucks">
    <div data-bind="truckId: truckId, vehicleStateIconUrl: vehicleStateIconUrl, heading: heading, latitude: lat, longitude: lon, map: map"></div>
</div>

@*details*@
<div id="infoWindowContent" style="display: none">
    <table data-bind="with: selectedTowTruck">
        <tr>
            <td><span data-bind="text: lastMessage()"></span></td>
        </tr>
        <tr>
            <td><span data-bind="text: 'Beat'"></span></td>
        </tr>
        <tr>
            <td>[Location]</td>
        </tr>
        <tr>
            <td>[ContractorName]</td>
        </tr>
        <tr>
            <td>[DriverName]</td>
        </tr>
        <tr>
            <td><span data-bind="text: 'Truck [TruckNumber]'"></span></td>
        </tr>
        <tr>
            <td><span data-bind="text: speed() + ' MPH'"></span></td>
        </tr>
        <tr>
            <td><span data-bind="text: vehicleState()"></span></td>
        </tr>
    </table>
</div>

@*filter window*@
<div class="modal hide fade" id="filterModal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">
            ×</button>
        <h3>Filter</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span6">
                <h3>Beat Number</h3>
                <p>
                    <input type="text" id="beatsFilter" />
                </p>
            </div>
            <div class="span6">
                <h3>Truck Number</h3>
                <p>
                    <input type="text" id="trucksFilter" disabled="disabled" />
                </p>
                <h3>Tow Contractor</h3>
                <p>
                    <input type="text" id="contractorsFilter" disabled="disabled" />
                </p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a id="btnSaveFilter" href="#" class="btn btn-primary" data-dismiss="modal">Done</a>
    </div>
</div>


