@model FSP.Web.Models.LoginModel
@{
    ViewBag.Title = "LATA Trax | Log in";
}

<link href="~/Content/octa/login.css" rel="stylesheet" />

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
            <h3>Please enter your user name and password. @Html.ActionLink("Register", "Register") if you don't have an account.</h3>
        </hgroup>
        @using (Html.BeginForm(
            "Login",
            "Account",
            new { returnUrl = ViewBag.ReturnUrl },
            FormMethod.Post,
            new { @class = "form-signin" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "Log in was unsuccessful. Please correct the errors and try again.")

            <label for="Email"
                   class="sr-only">Username</label>
            <input type="text"
                   id="Email"
                   name="Email"
                   class="form-control"
                   placeholder="Username"
                   required
                   autofocus>
            <label for="password"
                   class="sr-only">Password</label>
            <input type="password"
                   id="Password"
                   name="Password"
                   class="form-control"
                   placeholder="Password"
                   required>
            <div class="checkbox">
                <label>
                    <input id="RememberMe"
                           name="RememberMe"
                           type="checkbox"> Remember me
                </label>
            </div>
            <button class="btn btn-primary btn-block"
                    type="submit">
                <span>Login</span>
            </button>

            @*<fieldset>
                    <legend></legend>
                    <div class="editor-label">
                        Email
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(m => m.Email)
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(m => m.Password)
                    </div>
                    <div class="editor-field">
                        @Html.PasswordFor(m => m.Password)
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                    <div class="editor-field">
                        @Html.CheckBoxFor(m => m.RememberMe)
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">
                            Login
                        </button>
                    </div>
                </fieldset>*@
        }
    </div>
</div>