@model IEnumerable<FSP.Domain.Model.DriverInteraction>
@{
    ViewBag.Title = "Driver Interactions";
}

<p>
    @Html.ActionLink("Add Driver Interaction", "Create")
</p>
<h2>Driver Interactions</h2>
<table class="table table-bordered table-condensed table-striped sortable">
    <thead>
        <tr>
            <th>Driver</th>
            <th>Contractor</th>
            <th>Interaction Date</th>
            <th>Interaction Type</th>
            <th>Inspection Fail</th>
            <th>Interaction Area</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="span3">
                    @Html.DisplayFor(modelItem => item.Driver.LastName)<span>, </span>@Html.DisplayFor(modelItem => item.Driver.FirstName)
                </td>
                <td class="span3">
                    @Html.DisplayFor(modelItem => item.Contractor.ContractCompanyName)
                </td>
                 <td class="span3">
                    @Html.DisplayFor(modelItem => item.InteractionDate)
                </td>
                <td class="span2">
                    @Html.DisplayFor(modelItem => item.InteractionType.InteractionType1)
                </td>
                <td class="span2">
                    @Html.DisplayFor(modelItem => item.InspectionPassFail)
                </td>
                <td class="span3">
                    @Html.DisplayFor(modelItem => item.InteractionArea)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.InteractionID }) | 
                    @Html.ActionLink("Delete", "Delete", new { id = item.InteractionID })
                </td>
            </tr>
        }
    </tbody>
</table>
